<!DOCTYPE html>
<html>
  <head>
    <title>Forge Team</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
      <nav class="navbar navbar-inverse navbar-fixed_top my-navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-project-navbar-collapse-1">
          <!-- this is the unicode character that approximates a menu icon.
          Better to get an image in your own app. -->
          &#9776;
        </button>
        <img src="/assets/floaters.jpg" height="50" width="68.2">
      </div>
      <div class="collapse navbar-collapse" id="demo-project-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "About", static_pages_about_url %></li>
          <li><%= link_to "Contact", static_pages_contact_url %></li>
          <%if current_user%>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.fname %> <%= current_user.lname %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/user/edit">Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", session_url, method: :delete %></li>
          <% end %>
          </ul>
          </li>
            <!-- <% else %> -->
          <!-- <li><a href="/session/new" data-toggle="modal" data-target=".bs-modal-sm" data-toggle="popover">Sign In</a></li> -->
          <!-- <li><%= link_to "Sign In", new_session_url, method: :get%></li> -->
        </ul>
      </div>
      </nav>

    <!-- <% if signed_in? %>
    <ul>
      <li>Currently signed in as: <%= current_user.username %></li>
      <li><%= link_to "Sign Out", session_url, :method => :delete %></li>
    </ul>
    <% else %>
    <p>
      <%= link_to "Sign In", new_session_url %> or
      <%= link_to "Sign up", new_user_url %>
    </p>
    <% end %> -->

    <% if flash[:errors] %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
    
    <%= yield %>

    <img src="/assets/bang_dboat_sfti.jpeg" class="fix opaque" height="256" width="384">
  </body>
</html>
